/* common style shared */
:root{
    --transition: all 0.3s; 
}

*{
    margin: 0;
    padding: 0;
    color: #3A3A3A;
    font-family: poppins;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

.btn-primary{
    background-color: #E02C6D;
    color: #FFF;
    padding: 10px 24px;
    margin-top: 16px;
    border-radius: 41px;
    transition: var(--transition);
}

.btn-primary:hover{
    background-color: #000;
    color: #FFF;
}

/* header area start */
.top-header{
    height: 100vh;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px 0px 120px;
}

.brand-logo{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.brand-logo:hover{
    color: #E02C6D;
}

.menu{
    cursor: pointer;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.fa-search:hover, .fa-cart-shopping:hover{
    color: #E02C6D;

}

.menu-item{
    font-size: 16px;
    font-weight: 600;
    transition: var(--transition);
    cursor: pointer;
}

.menu-item:hover{
    color: #E02C6D;
}
/* header area end */

/* banner area start */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px 0px 120px;
}
.banner-heading{
    margin-top: 16px;
}

.banner-title{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-description{
    font-size: 16px;
    font-weight: 600;
}
.banner-img{
    width: 440px;
    height: 414px;
    background-image: url("../images/Circle\ design.svg");
}
/* banner area end */
.brand-logo{
    width: 80%;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    border-top: 1px solid rgba(192, 204, 218, 0.60);
    border-bottom: 1px solid rgba(192, 204, 218, 0.60);
}







































/* responsive style here */

/* mobile responsive */
@media screen and (max-width: 576px) {
    .header-container{
        flex-direction: column;
        padding: 20px;
    }

    .menu ul{
        flex-direction: column;
        padding: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }

    .banner-heading{
        margin-top: 50px;
    }

    .banner-description{
        font-size: 14px;
        font-weight: 500;
    }

    .banner-title{
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
    }
}

/* tablet or medium devices responsive */

@media screen and (min-width: 576px) and (max-width:992px){
    .header-container{
        flex-direction: column;
        padding: 20px;
    }

    .menu ul{
        flex-direction: row;
        padding: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }

    .banner-title{
        font-size: 40px;
        font-weight: 700;
        line-height: normal;
    }

    .banner-description{
        font-size: 16px;
        font-weight: 500;
    }
}